.ForgotPassword1Div {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 95vh;
    width: 90vw;
    justify-content: center;
}

.ForgotPassword1Div .content  {
    display: flex;
    align-items: center;
    gap: 25vh;
}
.ForgotPassword1Div .deco {
    height: 60vh;
    width: 20vw;
    position: fixed;
    top: 0%;
    left: 0%;
}

.ForgotPassword1Div .titlesPart {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    padding-left: 7vw;
}

.ForgotPassword1Div .title {
    font-family: 'Lato';
    color: #3D3556;
}

.ForgotPassword1Div .formPart {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items: center;
    padding-right: 10vw;
}

.ForgotPassword1Div .logo  {
    height: 15vh;
    width: 15vw;
}

.ForgotPassword1Div .item {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.ForgotPassword1Div .label {
    font-family: 'Lato';
    color: #3D3556;
    font-size: 1.3vw;
    font-weight: 800;
}

.ForgotPassword1Div .input {
    margin-bottom: 1vw;
    height: 7vh;
    width: 28vw;
    border-radius: 7px;
    border: 1px solid #3D3556;
    padding-left: 2vh;
}
.ForgotPassword1Div .input:focus {
    border: 2px solid #3D3556;
}

.ForgotPassword1Div a {
    color: #3D3556;
    font-weight: bold;
    font-family: 'Lato';
    text-decoration: none;
}

.ForgotPassword1Div .lienInsc {
    padding-left: 0.5vw;
}

.ForgotPassword1Div .button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
}


.ForgotPassword1Div .errorMessage {
    font-family: 'Lato';
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    color: #ff5252;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
    z-index: 999; /* Ensure it's above other elements */
  }
  
  .ForgotPassword1Div .showErrorMessage {
opacity: 1; /* Show the message */
}

.ForgotPassword1Div .buttonContainer {
    text-align: right;
    padding-top: 15vh;
}

@media screen and (min-width: 600px) and (max-width: 850px) {
    .ForgotPassword1Div .deco {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .ForgotPassword1Div {
        height: 100vh;
        width: 100vw;
    }
    .ForgotPassword1Div .deco {
        display: none;
    }

    .ForgotPassword1Div .formPart {
        padding-right: 0vw;
    }

    .ForgotPassword1Div .titlesPart {
        display: none;
    }

    .ForgotPassword1Div .logo  {
        height: 25vh;
        width: 25vw;
    }

    .ForgotPassword1Div .buton {
        height: 8vh;
        width: 42vw;
    }

    .ForgotPassword1Div .input {
        height: 8vh;
        width: 40vw;
    }

    .ForgotPassword1Div .label {
        font-size: 4vw;
    }

    .ForgotPassword1Div .title {
        font-size: 4vw;
    }

    .ForgotPassword1Div .errorMessage {
        font-size: 3vw;
    }

}